build*/
bin/
*~
*.swp
*.o
*.swp
*.gch
.atom-dbg.cson
.idea/
.project
nbbuild/
.vscode/
nbproject/
.cache
cmake-build-debug/
.lvimrc
compile_commands.json
html/
doxygen_*
testsconfig.ini
cget
CMakeLists.txt.user
hospital_core